URL_DB={YOUR_URL_DB}
USER_DB={YOUR_USER_DB}
PASSWORD_DB={YOUR_PASSWORD_DB}

# Configuracion de correo (Mailtrap sandbox)
# Obtener credenciales en https://mailtrap.io
MAILTRAP_USERNAME={YOUR_MAILTRAP_USERNAME}
MAILTRAP_PASSWORD={YOUR_MAILTRAP_PASSWORD}
MAIL_FROM=colitas@felices.mx
